<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="pss.dsl.visualisation.design.Activator"
               id="pss.dsl.visualisation.design"
	       name="visualisation">
    </component>
  </extension>
</plugin>
